p1 {
    color:rgb(252, 211, 252, 0.84) ;
    font-style: italic;
    text-align: center;
    
}

body {
    background-color: rgb(252, 211, 252, 0.84);
    text-align: center;
}

h1 {
    color:rgba(153, 6, 143, 0.736);
    text-align: center;

}

.btn-outline-light {
    color: rgb(226, 3, 255);
    background-color: rgb(251, 224, 250);
    border-color: rgb(106, 2, 72)
}

.btn-outline-light:hover {

    color: rgb(205, 0, 188);
    background-color: rgba(255, 255, 255, 0.89);
    border-color:rgb(0, 0, 0);
    font-weight: bold;
    

}










